@media (min-width: 768px) {
  .container {
    max-width: 750px; } }

@media (min-width: 992px) {
  .container {
    max-width: 880px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 880px; } }

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.25rem;
  color: #556068;
  font-family: "Varela Round", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 0; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  line-height: 1.5;
  color: #3023ae; }

h3 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.25rem; }

.title {
  font-size: 2.875rem;
  font-weight: 400;
  color: #3023ae;
  margin-bottom: 2rem;
  line-height: 1.25; }

p {
  color: #556068; }

a {
  -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
  transition: color 0.5s cubic-bezier(1, 0, 0, 1); }

b,
strong {
  font-weight: bolder; }

.lh-normal {
  line-height: 1.3 !important; }

.navbar {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem 2rem;
  z-index: 99; }

.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 2rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand img {
    height: 2rem; }

.navbar-toggler {
  vertical-align: middle; }

.nav-link-right {
  font-size: 0.7em;
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 14px;
  border-radius: 26px;
  fill: #fff;
  color: #fff;
  transition: background 300ms ease-in; }

.nav-link-right:hover,
.nav-link-right:focus,
.nav-link-right:active {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none; }

.nav-link-right svg {
  vertical-align: middle; }

.bg-cta {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); }
  .bg-cta .card {
    background: rgba(255, 255, 255, 0.92); }

.footer {
  font-size: 0.875rem;
  background-color: #292b2c;
  color: rgba(255, 255, 255, 0.25);
  padding: 70px 0;
  letter-spacing: 1px; }

.footer a {
  color: rgba(255, 255, 255, 0.55); }

.footer a:hover,
.footer a:focus {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none; }

.list-inline-item:not(:last-child) {
  margin-right: 2rem; }

.list-inline-item {
  display: inline-block; }

.footer p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.25) !important; }

.text-muted,
.descriptor {
  color: #556068; }

.btn-primary {
  color: #556068;
  font-weight: 600;
  background-color: #F8C84F;
  border-color: #F8C84F; }

.btn-primary:hover {
  color: #434264;
  background-color: #FFE636;
  border-color: #FFE636; }

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .85rem;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 275ms ease-in;
  transition: all 275ms ease-in; }

.btn:hover {
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); }

.bg-primary {
  background-color: #6273DB !important; }

.media-body {
  margin-top: 0.8rem; }

.pb-6 {
  padding-bottom: 4rem; }

.hero {
  z-index: 0;
  position: relative;
  height: 105vh;
  width: 100%;
  background: #3023AE url("../img/hero/hero-bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 6em; }
  .hero .hero-content {
    padding-bottom: 6em;
    height: 100%;
    bottom: 0;
    top: 0; }

.hero:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit- linear-gradient(to bottom right, rgba(48, 35, 174, 0.9) 10%, rgba(200, 109, 215, 0.67) 100%);
  background-image: -o- linear-gradient(to bottom right, rgba(48, 35, 174, 0.9) 10%, rgba(200, 109, 215, 0.67) 100%);
  background-image: linear-gradient(to bottom right, rgba(48, 35, 174, 0.9) 10%, rgba(200, 109, 215, 0.67) 100%);
  z-index: -1; }

.bg-rounded {
  margin-top: -8px; }

.bg-rounded-flip {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  margin-bottom: -13px; }

.hero .container {
  height: 100%; }

.hero-h1 {
  color: #F8C84F !important;
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 1.2rem; }

.heading {
  max-width: 90%; }

.heading-2 {
  max-width: 80%;
  font-weight: 500;
  line-height: 1.25; }

.hero-text p {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

.hero-image img {
  width: 100%; }

.spacer {
  width: 50px;
  height: 1px;
  background-color: #4C515D;
  margin: 25px 0;
  display: block; }

.descriptor {
  font-size: 1.1rem; }

.descriptor-2 {
  max-width: 90%;
  font-size: 1rem; }

.mini-banner {
  min-height: 260px;
  max-width: 740px;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.mini-text {
  color: rgba(69, 69, 69, 0.5);
  font-weight: 500;
  font-size: 0.9rem; }

.mini-text-2 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 0.9rem; }

.max-icon {
  width: 36px;
  margin-top: 26px; }

.capitalize,
.hero-text {
  text-transform: capitalize; }

.row-md-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.max-width-mf {
  max-width: 75%; }

.py-custom {
  padding-top: 3rem;
  padding-bottom: 4.2rem; }

.bg-circle-0,
.bg-circle-1,
.bg-circle-2,
.bg-circle-3,
.bg-circle-4 {
  height: 88px;
  width: 88px;
  background-repeat: no-repeat; }

.bg-circle-0 {
  background-image: url(../img/bg-circle0.svg); }

.bg-circle-1 {
  background-image: url(../img/bg-circle1.svg); }

.bg-circle-2 {
  background-image: url(../img/bg-circle2.svg); }

.bg-circle-3 {
  background-image: url(../img/bg-circle3.svg); }

.bg-circle-4 {
  background-image: url(../img/bg-circle4.svg); }

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  .pb-under-md-0 {
    padding-bottom: 0 !important; }
  .row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .hero-text {
    text-align: center; }
  .hero .hero-h1 {
    font-size: 2.25rem !important; }
  .hero p {
    font-size: 1rem !important; }
  .hero-h1,
  .heading,
  .heading-2 {
    max-width: 100%; }
  .steps .steps-img {
    margin-bottom: 2rem; }
  .steps .descriptor {
    font-size: 2rem; }
  .pricing {
    margin-right: -15px !important;
    margin-left: -15px !important; } }

@media only screen and (max-height: 600px) {
  .hero {
    min-height: 700px; } }

.testimonials-wrap {
  background: #f5f5f5; }
  .testimonials-wrap .testimonials {
    border-radius: 0.5rem; }
    .testimonials-wrap .testimonials p {
      font-size: 1rem; }
    .testimonials-wrap .testimonials img {
      max-width: 56px; }

.bg-testimonials {
  background: linear-gradient(to bottom right, rgba(48, 35, 174, 0.9) 10%, rgba(200, 109, 215, 0.67) 100%); }

.testimonials {
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400; }
  .testimonials .testimonials-img {
    border: 2px solid #fff;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15); }
  .testimonials .testimonials-text {
    text-indent: 2.5em;
    font-size: 1.2rem;
    font-family: "Cormorant Garamond", "Cormorant", "Halant", serif;
    position: relative; }
  .testimonials .testimonials-text::before, .testimonials .testimonials-text:after {
    font-family: "FontAwesome";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
  .testimonials .testimonials-text::before {
    content: "\f10d";
    position: absolute;
    font-size: 5rem;
    top: -4rem;
    left: -3.25rem;
    opacity: 0.1; }
  .testimonials .testimonials-text:after {
    content: "\f10e";
    position: absolute;
    font-size: 3rem;
    bottom: -7rem;
    right: -1rem;
    opacity: 0.3; }
  .testimonials .testimonials-user {
    font-family: "Varela Round", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem; }

.testimonials-img-2 {
  border: 2px solid #fff;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  width: 49px;
  height: 49px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: all ease-in-out 275ms; }

.testimonials-img-2:hover {
  transform: rotate(360deg); }

.o-7 {
  opacity: 0.7; }

.slider *:focus {
  outline: 0; }

.pointer {
  cursor: pointer; }

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0.5;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

.scroll-btn {
  display: block;
  position: absolute;
  bottom: 5vh;
  text-align: center;
  left: 0;
  right: 0; }

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: inherit;
  letter-spacing: 2px; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 26px;
  height: 40px;
  margin: 0 auto 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px; }

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 4px;
  height: 4px;
  margin: -4px 0 0 -2px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  -webkit-animation: ani-mouse 2s ease-out infinite;
  -moz-animation: ani-mouse 2s ease-out infinite;
  animation: ani-mouse 2s ease-out infinite; }

.simple-steps {
  background: linear-gradient(to bottom right, rgba(118, 247, 191, 0.2) 10%, rgba(118, 247, 191, 0.1) 100%);
  background-size: cover;
  position: relative; }
  .simple-steps .heading {
    color: #55C160; }

.steps .steps-item {
  align-self: flex-start;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .steps .steps-item div {
    text-align: center;
    transition: opacity 275ms ease-in;
    cursor: pointer;
    opacity: 0.95; }
  .steps .steps-item div:hover {
    opacity: 1; }

.steps .steps-img {
  position: relative;
  margin: auto;
  width: 180px; }

.steps .descriptor {
  max-width: 12rem;
  color: #55C160;
  margin: 1rem auto;
  font-size: 1rem;
  line-height: 1.25; }

.sans-serif {
  font-family: "Varela Round", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important; }

.container {
  max-width: 880px; }

.clr-title {
  color: #3023ae; }

.plan {
  position: relative;
  padding: 3rem 0;
  background: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 12px 140px 0 rgba(2, 2, 2, 0.1);
  transition: all 275ms ease-in; }
  .plan:hover {
    box-shadow: 0 6px 200px 0 rgba(2, 2, 2, 0.2); }
  .plan .plan-label {
    font-size: 0.87rem;
    position: absolute;
    background: #fff;
    padding: 0.2rem 0.75rem 0.2rem 1.25rem;
    border-radius: 2rem 0 0 2rem;
    right: 0;
    top: 1.5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  .plan .paket {
    max-width: calc(100% - 1rem);
    border: none;
    font-size: 1.74rem;
    color: #9733ee;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer; }
    .plan .paket:focus {
      outline: 0; }
  .plan .title-container {
    background-color: transparent; }
    .plan .title-container .title {
      margin: auto;
      font-size: 1.45rem;
      text-transform: capitalize; }
      .plan .title-container .title h1 {
        font-size: 2.9rem;
        margin: 0; }
    .plan .title-container .sub-title {
      margin: auto;
      padding: 0 3rem;
      font-size: 75%; }
  .plan .price {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
    display: inline-block;
    width: 80%; }
    .plan .price p {
      left: -0.5rem;
      position: relative;
      font-size: 2.4rem;
      display: inline-block;
      margin: 0;
      color: inherit; }
      .plan .price p span.price-type {
        color: inherit;
        position: absolute;
        font-size: 55%;
        top: 0.3rem;
        right: -1.7rem; }
    .plan .price .price-discount {
      display: block;
      line-height: 1;
      margin-bottom: -1rem; }
      .plan .price .price-discount p {
        left: 0.2rem;
        opacity: 0.75;
        font-size: 1.2rem;
        text-decoration: line-through; }
        .plan .price .price-discount p span.price-type {
          top: 0.2rem;
          right: -0.6rem; }
    .plan .price .price-time {
      font-size: 0.96rem;
      display: block;
      margin-top: -1rem; }
  .plan .infoContainer {
    padding: 1rem 2rem 2rem;
    box-sizing: border-box; }
    .plan .infoContainer .features {
      color: inherit;
      font-size: 0.875rem;
      list-style: none;
      padding-left: 0; }
      .plan .infoContainer .features li {
        color: inherit;
        padding: 0.5rem;
        line-height: 1; }
      .plan .infoContainer .features li a {
        color: inherit !important; }
      .plan .infoContainer .features li span.fa {
        font-size: 0.75em;
        margin-right: 0.5rem;
        opacity: 0.9; }
  .plan .selectPlan, .plan .selectPlan2, .plan .selectPlan3 {
    font-size: 1.125rem;
    position: relative;
    z-index: 2;
    padding: 0.75rem 0.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 0.25s;
    margin: auto;
    box-sizing: border-box;
    max-width: 180px;
    display: block;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05); }
    .plan .selectPlan:hover, .plan .selectPlan2:hover, .plan .selectPlan3:hover {
      text-decoration: none;
      -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); }
  .plan .selectPlan {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    color: #fa6c94 !important;
    font-weight: 500; }
    .plan .selectPlan:hover {
      border: 1px solid #fa6c94;
      background-color: #fa6c94;
      color: #fff !important;
      opacity: 1; }
  .plan .selectPlan2 {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #fa6c94 !important; }
    .plan .selectPlan2:hover {
      background-color: #fff;
      border: 1px solid #fa6c94;
      color: #fa6c94 !important; }
  .plan .selectPlan3 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff !important; }
    .plan .selectPlan3:hover {
      background-color: #fff;
      color: #ff6c68 !important; }

@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0; }
    .planContainer .plan {
      width: 100%;
      margin: 1rem 0; } }

.pricing {
  margin: 0 calc(-1rem - 15px); }
  .pricing .plan-max-w {
    margin: 0 -1rem; }
    .pricing .plan-max-w:nth-child(1) .plan {
      border: 1px solid #f0f0f0; }
      .pricing .plan-max-w:nth-child(1) .plan .plan-label {
        color: #a19ada; }
    .pricing .plan-max-w:nth-child(2) {
      z-index: 1; }
    .pricing .plan-max-w:nth-child(2) .plan {
      background-image: linear-gradient(to bottom, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf); }
      .pricing .plan-max-w:nth-child(2) .plan .plan-label {
        color: #e95fa6; }
    .pricing .plan-max-w:nth-child(3) .plan .plan-label {
      color: #ff6c68; }

.table {
  font-size: 0.8125rem; }
  .table tbody tr:not(.no-hover) {
    cursor: pointer; }
  .table tbody tr:first-child, .table tbody tr:last-child {
    background: transparent !important; }
  .table tbody tr:first-child .fitur-name {
    border-radius: 0.5rem 0.5rem 0 0; }
  .table tbody tr:last-child .fitur-name {
    border-radius: 0 0 0.5rem 0.5rem; }
  .table .fitur-name {
    font-weight: 400;
    padding: 0.75rem 1rem;
    background-image: linear-gradient(to left, #999, #888);
    border: 0;
    color: white; }

.table thead {
  font-size: 1rem; }

table td, table th {
  transition: all 275ms ease-in;
  word-wrap: break-word;
  min-width: 180px;
  vertical-align: middle !important; }

.table td {
  border: 0;
  padding: 0.5rem 1rem;
  text-align: center; }
  .table td span.fa {
    font-size: 1rem;
    opacity: 0.8; }
  .table td span.fa.fa-check {
    color: #45b649; }
  .table td span.fa.fa-times {
    color: #ED213A; }

.table-hover tbody tr {
  transition: all 275ms ease-in; }
  .table-hover tbody tr td:last-child {
    border-radius: 0 2rem 2rem 0; }

.table-hover tbody tr:hover, .table-hover tbody tr.active {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover tbody tr:hover .fitur-name, .table-hover tbody tr.active .fitur-name {
  opacity: 0.75; }

.table-hover tbody tr.no-hover:hover .fitur-name {
  opacity: 1; }

tr td:nth-child(3) {
  background: rgba(242, 101, 156, 0.1); }

tr th:nth-child(3) {
  background: rgba(242, 101, 156, 0.2);
  border-radius: 0.3rem 0.3rem 0 0; }

#countdown .countdown-amount {
  font-weight: bold; }

#countdown .countdown-amount,
#countdown .countdown-period {
  color: #dc3545; }

#accordion {
  font-size: 1rem; }
  #accordion .card {
    margin: 0 auto;
    max-width: 600px;
    border: none;
    border-radius: .25rem;
    margin-bottom: 1.25rem;
    -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.075);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.075); }
  #accordion .card-header {
    font-size: 0.875rem;
    background: #fff;
    padding: 0; }
  #accordion .card-body {
    line-height: 1.8;
    font-size: 0.875rem;
    border: 0;
    border-radius: 0 0 .25rem .25rem; }
  #accordion .question {
    display: flex;
    align-items: center; }
    #accordion .question span.fa {
      font-size: 1rem; }
    #accordion .question span:not(.fa) {
      padding: 1rem 0;
      margin-left: .25rem; }
  #accordion .fa {
    font-size: 0.75rem;
    padding: 1.125rem; }

.underline {
  text-decoration: underline; }

.support-exp-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5rem; }
  .support-exp-wrap a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    max-height: 60px;
    margin: 0 1.25rem 3rem;
    transition: all 200ms ease-in;
    border-radius: .5rem; }
  .support-exp-wrap a img {
    width: 100%; }
