$clr-1 : #475aa8;
$clr-2 : #556068;
$clr-white : #fff;
$clr-yellow : #F8C84F;
$bg-header-gradient : linear-gradient(to bottom right, rgba(48,35,174, .9) 10%, rgba(200,109,215, .67) 100%);
$bg-header-primary : #3023AE;
$bg-footer-gradient: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
$serif: 'Cormorant Garamond','Cormorant', 'Halant', serif;
$serif-2: 'Noto Serif',serif;
$sans-serif: "Varela Round","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$clr-sub-heading: #3023ae;
$clr-title: #3023ae;
$clr-btn-hover: #434264;
$bg-btn-hover: #FFE636;

// New Breakpoint
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.container{
		max-width: 750px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.container{
		max-width: 880px;
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container{
		max-width: 880px;
	}
}

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.25rem;
    color: $clr-2;
    font-family: $sans-serif;
    letter-spacing: 0;
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: $serif-2;
    font-weight: 400;
    line-height: 1.5;
    color: $clr-sub-heading
}

h3{
	font-size: 1.75rem;
}
h5{
	font-size: 1.25rem;
}

.title{
	font-size: 2.875rem;
	font-weight: 400;
	color: $clr-title;
	margin-bottom: 2rem;
	line-height: 1.25;
}
p {
    color: $clr-2
}

a {
    -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
    transition: color 0.5s cubic-bezier(1, 0, 0, 1)
}

b,
strong {
    font-weight: bolder
}

.lh-normal{
	line-height: 1.3 !important;
}

.navbar {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 2rem;
    z-index: 99;
}

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 2rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
	img{
		height: 2rem;
	}
}

.navbar-toggler {
    vertical-align: middle
}

.nav-link-right {
	font-size: 0.7em;
    background: rgba(255,255,255,0.1);
    padding: 6px 14px;
    border-radius: 26px;
	fill: $clr-white;
    color: $clr-white;
    transition: background 300ms ease-in;
}

.nav-link-right:hover,
.nav-link-right:focus,
.nav-link-right:active {
	background: rgba(255,255,255,0.2);
    color: $clr-white;
    text-decoration: none
}

.nav-link-right svg {
    vertical-align: middle
}

.bg-cta {
	position: relative;
	overflow: hidden;  
  background: $bg-footer-gradient;
  .card{
    background: rgba(#fff, .92);
  }  
}

.bg-cta:before {
  // content: ' ';
  // opacity: 0.7;
  // width: 100%;
  // height: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: -1;
  // background-size: cover;
  // background-position: center top;
  // background-image: url("../img/undraw_country_side_ayop.svg"), -webkit-gradient(linear, left top, right top, from(#FF9A8B), color-stop(55%, #FF6A88), to(#FF99AC));
  // background-image: url("../img/undraw_country_side_ayop.svg"), $bg-footer-gradient;
  // background-repeat: no-repeat;
}

.footer {
    font-size: 0.875rem;
    background-color: #292b2c;
    color: rgba(255, 255, 255, 0.25);
    padding: 70px 0;
    letter-spacing: 1px
}

.footer a {
    color: rgba(255, 255, 255, 0.55)
}

.footer a:hover,
.footer a:focus {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none
}

.list-inline-item:not(:last-child) {
    margin-right: 2rem
}

.list-inline-item {
    display: inline-block
}

.footer p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.25) !important
}

.text-muted,
.descriptor {
    color: $clr-2
}

.btn-primary {
    color: $clr-2;
    font-weight: 600;
    background-color: $clr-yellow;
    border-color: $clr-yellow
}

.btn-primary:hover {
    color: $clr-btn-hover;
    background-color: $bg-btn-hover;
    border-color: $bg-btn-hover;
}

.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85rem;
    border-radius: 40px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 275ms ease-in;
    transition: all 275ms ease-in
}

.btn:hover {
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2)
}

.bg-primary {
    background-color: #6273DB !important
}

.media-body {
    margin-top: 0.8rem
}

.pb-6 {
    padding-bottom: 4rem
}

.hero {
	z-index: 0;
	position: relative;
	height: 105vh;
    width: 100%;
    background: $bg-header-primary url('../img/hero/hero-bg.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 6em;

	.hero-content{
		padding-bottom: 6em;
		height: 100%;
		bottom: 0;
		top: 0;
	}
}
.hero:after{
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-$bg-header-gradient;
	background-image: -o-$bg-header-gradient;
	background-image: $bg-header-gradient;
	// opacity: 0.8;
	z-index: -1;
}
.bg-rounded {
    margin-top: -8px
}

.bg-rounded-flip {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    margin-bottom: -13px
}

.hero .container {
    height: 100%
}

.hero-h1 {
    color: $clr-yellow !important;
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 1.2rem;
}

.heading {
    max-width: 90%
}

.heading-2 {
    max-width: 80%;
    font-weight: 500;
    line-height: 1.25;
}


.hero-text p {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3)
}

.hero-image img {
    width: 100%
}

.spacer {
    width: 50px;
    height: 1px;
    background-color: #4C515D;
    margin: 25px 0;
    display: block
}

.descriptor {
    font-size: 1.1rem
}

.descriptor-2 {
    max-width: 90%;
    font-size: 1rem
}

.mini-banner {
    min-height: 260px;
    // padding: 2rem;
    max-width: 740px;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mini-text {
    color: rgba(69, 69, 69, 0.5);
    font-weight: 500;
    font-size: 0.9rem
}

.mini-text-2 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
    font-size: 0.9rem
}

.max-icon {
    width: 36px;
    margin-top: 26px
}

.capitalize,
.hero-text {
    text-transform: capitalize
}

.row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.max-width-mf {
    max-width: 75%
}

.py-custom {
    padding-top: 3rem;
    padding-bottom: 4.2rem
}

.bg-circle-0,
.bg-circle-1,
.bg-circle-2,
.bg-circle-3,
.bg-circle-4 {
    height: 88px;
    width: 88px;
    background-repeat: no-repeat
}

.bg-circle-0 {
    background-image: url(../img/bg-circle0.svg)
}

.bg-circle-1 {
    background-image: url(../img/bg-circle1.svg)
}

.bg-circle-2 {
    background-image: url(../img/bg-circle2.svg)
}

.bg-circle-3 {
    background-image: url(../img/bg-circle3.svg)
}

.bg-circle-4 {
    background-image: url(../img/bg-circle4.svg)
}

@media only screen and (max-width: 768px) {
	.title{
		font-size: 1.8rem;
	}
	h3{
		font-size: 1.5rem;
	}
	.pb-under-md-0{
		padding-bottom: 0 !important;
	}
    .row-md-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

    .hero-text {
        text-align: center
    }
    .hero{
    	.hero-content{
    		// margin-top: 5vh;
    	}
    	.hero-h1{
    		font-size: 2.25rem !important;
    	}
    	p{
    		font-size: 1rem !important;
    	}
    }
    .hero-h1,
    .heading,
    .heading-2 {
        max-width: 100%
    }

    .steps{
		.steps-item{
		}
		.steps-img{
			margin-bottom: 2rem;
		}
		.descriptor{
			font-size: 2rem;
		}

  }
    .pricing{
      margin-right: -15px !important;
      margin-left: -15px !important;
    }

}

@media only screen and (max-height: 600px) {
	.hero{
		min-height: 700px;
	}
}


.testimonials-wrap{
	background: #f5f5f5;
	.testimonials{
		border-radius: 0.5rem;
		p{
			font-size: 1rem;
		}
		img{
			max-width: 56px;
		}
	}
}
.bg-testimonials{
	background: $bg-header-gradient;
}
.testimonials{
	border-radius: 1rem;
	font-size: 1rem;
	font-weight: 400;
	// box-shadow: 2px 2px 8px #000;

	.testimonials-img{
		border: 2px solid $clr-white;
		width: 88px;
		height: 88px;
		border-radius: 50%;
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	}

	.testimonials-text{
		text-indent: 2.5em;
		font-size: 1.2rem;
		font-family: $serif;
		position: relative;
	}

	.testimonials-text::before, .testimonials-text:after{
		font-family: "FontAwesome";
		font-style: normal;
	    font-variant: normal;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	}
	.testimonials-text::before{
		content: "\f10d";
		position: absolute;
		font-size: 5rem;
		top: -4rem;
		left: -3.25rem;
		opacity: 0.1;
	}
	.testimonials-text:after{
		content: "\f10e";
		position: absolute;
		font-size: 3rem;
		bottom: -7rem;
		right: -1rem;
	    opacity: 0.3;

	}

	.testimonials-user{
		font-family: $sans-serif;
		font-size: 1rem;
	}
}

.testimonials-img-2{
	border: 2px solid $clr-white;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
	width: 49px;
	height: 49px;
	border-radius: 50%;
	cursor: pointer; 
	overflow: hidden;
	transition: all ease-in-out 275ms;
}

.testimonials-img-2:hover{
	transform: rotate(360deg);
}

.o-7{
	opacity: 0.7;
}

.slider *:focus{
	outline: 0;
}

.pointer{ cursor: pointer}

//header update

//animation
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0.5;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}

// scroll
 .scroll-btn {
	display: block;
	position: absolute;
	bottom: 5vh;
	text-align: center;
	left: 0;
	right: 0;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: inherit;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 26px;
	height: 40px;
	margin: 0 auto 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid rgba(255,255,255,0.6);
	border-radius: 20px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 4px;
	height: 4px;
	margin: -4px 0 0 -2px;
	background: rgba(255,255,255,0.6);
	border-radius: 50%;
	-webkit-animation: ani-mouse 2s ease-out infinite;
	-moz-animation: ani-mouse 2s ease-out infinite;
	animation: ani-mouse 2s ease-out infinite;
}

.simple-steps{
	background: linear-gradient(to bottom right, rgba(#76F7BF, .2) 10%, rgba(#76F7BF, .1) 100%);
	background-size: cover;
	position: relative;
	.heading{
		color: #55C160;
	}
}

.steps{
	.steps-item{
		align-self: flex-start;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		div{
			text-align: center;
			transition: opacity 275ms ease-in;
			cursor: pointer;
			opacity: 0.95;
			
		}
		div:hover{
			opacity: 1;
		}
	}
	.steps-img{
		position: relative;
		margin: auto;
		width: 180px;
	}
	.descriptor{
		max-width: 12rem;
		color: #55C160;
		margin: 1rem auto;
		font-size: 1rem;
		line-height: 1.25;
	}
}

// Plan ======================================================================================

// new
$clr-f1: #f1f1f1;
$clr-grey: #556068;
$accent-color: #9733ee;
$text-color: #2d3b48;
$plan-padding: 1rem;
$plan-margin: 1rem;
$background: #efefef;
$title-size: 1.45rem;
$price-size: 3rem;
$feature-size: 1rem;


.sans-serif{
  font-family: $sans-serif !important;
}
.container{
  max-width: 880px;
}

.clr-title{color: $clr-title}


// .plan-max-w{max-width: 20rem;}

.plan {
  position: relative;
  padding: $plan-padding*3 0;
  background: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: $plan-margin*2;
  border-radius: 1rem;
  // border: 1px solid $clr-f1;
  overflow: hidden;
  box-shadow: 0 12px 140px 0 rgba(2,2,2,.10);
  transition: all 275ms ease-in;
  &:hover{  box-shadow: 0 6px 200px 0 rgba(2,2,2,.20);;
}

.plan-label{
  font-size: $title-size*0.6;
  position: absolute;
  background: $clr-white;
  padding: 0.2rem 0.75rem 0.2rem 1.25rem;
  border-radius: 2rem 0 0 2rem;
  right:0;
  top: 1.5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
  .paket{
  	max-width: calc(100% - 1rem);
  	border: none;
  	font-size: $title-size*1.2;
  	color: $accent-color;
  	font-weight: 700;
  	padding: $plan-padding;
  	cursor: pointer;
  	&:focus{
  		outline: 0;
  		 // box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
  	}

  }
  .title-container {
    background-color: transparent;
    .title {
      margin: auto;
      font-size: $title-size;
      text-transform: capitalize;
      // color: $clr-white;
      h1{
        font-size: $title-size*2;
        margin:0;
      }
    }
    .sub-title{
      margin: auto;
      // color: $clr-white;
      padding: 0 3rem;
      font-size: 75%;
    }
  }
      .price {
      position: relative;
      font-size: $price-size;
      font-weight: 500;
      margin-top: 0;
      display: inline-block;
      width: 80%;
      p {
          left: -0.5rem;
          position: relative;
          font-size: 2.4rem;
          display: inline-block;
          margin: 0;
          color: inherit;
        span.price-type{
          color: inherit;
          position: absolute;
          font-size: 55%;
          top: 0.3rem;
          right: -1.7rem;
        }
        // &:before{
        //   font-size: 1.5rem;
        //   content: "Rp";
        //   top: 10%;
        //   left: -2.2rem;
        //   position: absolute;
        // }
      }
      .price-discount{
        display: block;
        line-height: 1;
        margin-bottom: -1rem;
        p{
          left: 0.2rem;
          opacity: 0.75;
          font-size: $price-size*0.4;
          text-decoration: line-through;
          span.price-type{
            top: 0.2rem;
            right: -0.6rem;
          }
          // &:before{
          //   content: ' ';
          //   width: 110%;
          //   height: 1px;
          //   background: $clr-white;
          //   position: absolute;
          //   top: 50%;
          // }
        }
          
        
      }
      .price-time {
        font-size: $price-size*0.32;
        // position: absolute;
        display: block;
        // color: lighten($clr-grey, 43%);
        // color: inherit;
        margin-top: -1rem;
      }
    }

  .infoContainer {
    padding: $plan-padding $plan-padding*2 $plan-padding*2 ;
    // color: $text-color;
    // color: $clr-white;
    box-sizing: border-box;
      .features {
        color: inherit;
        font-size: $feature-size*0.875;
        list-style: none;
        padding-left: 0;
        li {
          color: inherit; 
          padding: $plan-padding/2;
          line-height: 1;
        }

        li a{
          color: inherit !important;
        }

        li span.fa{
          font-size: 0.75em;
          margin-right: 0.5rem;
          opacity: 0.9;
        }

      }
    }
    .selectPlan, .selectPlan2, .selectPlan3{
      font-size: 1.125rem;
      position: relative;
      z-index: 2;
      padding: $plan-padding*0.75 $plan-padding*0.5;
      border-radius: $plan-padding*2.5;
      cursor: pointer;
      transition: all 0.25s;
      margin: auto;
      box-sizing: border-box;
      max-width: 180px;
      display: block;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      &:hover{
      	text-decoration: none;
        -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }

    }
    $selectPlan : #fa6c94;
    
    .selectPlan {
      background-color: $clr-white;
      border: 1px solid $clr-f1;
      color:  $selectPlan !important;
      font-weight: 500;
      // opacity: 0.9;
      &:hover {
        border: 1px solid  $selectPlan;
        background-color:  $selectPlan;
        color: $clr-white !important;
        opacity:  1;
      }
  	}
      .selectPlan2 {
      background-color: transparent;
      // border: 1px solid $clr-white;
      // color: $clr-white !important;
      border: 1px solid rgba(0,0,0,0.1);
      color:  $selectPlan !important;
      &:hover {
        background-color: $clr-white;
        border: 1px solid $selectPlan;
        color: $selectPlan !important;
      }
	}
    .selectPlan3 {
        background-color: transparent;
        border: 1px solid $clr-white;
        color: $clr-white !important;
        &:hover {

          background-color: $clr-white;
          color: #ff6c68 !important;
        }
    }
}


@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0;
    .plan {
      width: 100%;
      margin: $plan-margin 0;
    }
  }
}

//pricing
.pricing{
	margin: 0 calc(-1rem - 15px);


	.plan-max-w{
		margin: 0 -1rem;

		&:nth-child(1) .plan{
		  // padding-right: 1rem;
		  // background-image: linear-gradient(to left bottom, #a18cd1, #a19ada, #a4a8e1, #a9b5e6, #b0c2eb);
		  border: 1px solid #f0f0f0;
		  .plan-label{
		    color: #a19ada;
		  }
		}

		&:nth-child(2){
			z-index:1;
		}

		&:nth-child(2) .plan{
		  background-image: linear-gradient(to bottom, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf);
		  .plan-label{
		    color: #e95fa6;
		  }
		}

		&:nth-child(3) .plan{
		  // background-image: linear-gradient(to right bottom, #fc6076, #ff6c68, #ff7b5b, #ff8a4e, #ff9a44);
		  .plan-label{
		    color: #ff6c68;
		  }
		}

	}



}


.table{
  font-size: 0.8125rem;

  tbody tr:not(.no-hover){
    cursor: pointer;
  }

  
  tbody tr:first-child, tbody tr:last-child, {
    background: transparent !important;
  }
  tbody tr:first-child .fitur-name{
    border-radius: 0.5rem 0.5rem 0 0 ;
  }
  tbody tr:last-child .fitur-name{
    border-radius: 0 0 0.5rem 0.5rem ;
  }

  .fitur-name{
    font-weight: 400;
    padding: 0.75rem 1rem;
    // background: #fa6c94;
    // background-image: linear-gradient(to left, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf);
    background-image: linear-gradient(to left, #999, #888);

    border: 0;
    color: white;
  }
}

.table thead{
  font-size: 1rem;
}
table td, table th{
  transition: all 275ms ease-in;
  word-wrap: break-word;
  min-width: 180px;
  vertical-align: middle !important;
  // max-width: 200px;
}
.table td{
  border: 0;
  padding: 0.5rem 1rem;
  text-align: center;
  span.fa{
    font-size: 1rem;
    opacity: 0.8;
  }
  span.fa.fa-check{
    color: #45b649;
  }
  span.fa.fa-times{
    color: #ED213A;
  }
}
.table-hover tbody tr{
  transition: all 275ms ease-in;
  td:last-child{
    border-radius: 0 2rem 2rem 0;
  }
}

.table-hover tbody tr:hover, .table-hover tbody tr.active {
    background-color: rgba(0,0,0,.075);
}
.table-hover tbody tr:hover .fitur-name, .table-hover tbody tr.active .fitur-name{
    opacity: 0.75;
}
.table-hover tbody tr.no-hover:hover .fitur-name{
    opacity: 1;
}
tr td:nth-child(3){
  background: rgba(242, 101, 156, 0.1);
}
tr th:nth-child(3){
  background: rgba(242, 101, 156, 0.2);
  border-radius: 0.3rem 0.3rem 0 0;
}

#countdown{
  .countdown-amount{
    font-weight: bold;
  }
  .countdown-amount,
  .countdown-period{
    color: #dc3545;
  }
}

// accordion ============================================== faq

#accordion{
	font-size: 1rem;
	.card{
		margin: 0 auto;
		max-width: 600px;
	    // background-color: #fff;
	    border: none;
	    border-radius: .25rem;
		margin-bottom: 1.25rem;
		-webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.075);
	    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.075);
	}
	.card-header{
		font-size: 0.875rem;
		// border: 0;
		background: $clr-white;
		// color: $clr-white;
		padding: 0;
	}
	.card-body{
		line-height: 1.8;
		font-size: 0.875rem;
		border: 0;
	    // border: 1px solid rgba(0,0,0,.125);
	    border-radius: 0 0 .25rem .25rem;
	}
	.question{
		display: flex;
		align-items: center;
		span.fa{
			font-size: 1rem;
		}
		span:not(.fa){
			padding: 1rem 0;
			margin-left: .25rem;
		}
	}
	.fa{
		font-size: 0.75rem;
		padding: 1.125rem;
	}
}


.underline{
  text-decoration: underline;
}


// support expedition =================================================================================
.support-exp-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;
        max-height: 60px;
        margin: 0 1.25rem 3rem;
        transition: all 200ms ease-in;
        border-radius: .5rem;
    }
    a img{
        width: 100%;
    }
}