$clr-1 : #475aa8;
$clr-2 : #556068;
$clr-3 : #434264;
$clr-white : #fff;
$clr-yellow : #FFEB5C;
$bg-header-gradient : linear-gradient(to bottom right, rgba(48,35,174, .9) 10%, rgba(200,109,215, .67) 100%);
$bg-footer-gradient: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
$serif: 'Cormorant Garamond','Cormorant', 'Halant', serif;
$serif-2: 'Vidaloka','Noto Serif',serif;
$sans-serif: "Karla","Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$clr-sub-heading: #434264;
$clr-title: #DE3163;

// new
$clr-f1: #f1f1f1;
$clr-grey: #556068;
$accent-color: #9733ee;
$text-color: #2d3b48;
$plan-padding: 1rem;
$plan-margin: 1rem;
$background: #efefef;
$title-size: 1.45rem;
$price-size: 3rem;
$feature-size: 1rem;

body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.25rem;
    color: $clr-2;
    font-family: $sans-serif;
}

a {
    text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: $serif-2;
    font-weight: 400;
    line-height: 1.5;
    color: $clr-sub-heading
}

h3{
	font-size: 1.75rem;
}
h5{
	font-size: 1.25rem;
}

.title{
	font-size: 2.875rem;
	font-weight: 400;
	color: $clr-title;
	margin-bottom: 2rem;
}
.clr-title{
	color: $clr-title !important;
}
.clr-accent{
  color: $accent-color !important;
}
.clr-heading{
  color: $clr-3 !important;
}
p {
    color: $clr-2
}

a {
    -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
    transition: color 0.5s cubic-bezier(1, 0, 0, 1)
}
a.clean-link{
  color: inherit;
  &:hover{
    text-decoration: none;
  }
}

b,
strong {
    font-weight: bolder
}

.lh-normal{
	line-height: 1.3 !important;
}

// Navbar ==================================================================================
.navbar {
	// background: $bg-header-gradient;
    // position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5rem 2rem;
    z-index: 99;
}

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 2rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
	img{
		height: 2rem;
	}
}

.navbar-toggler {
    vertical-align: middle
}

.nav-link-right {
	font-size: 0.7em;
    // background: $accent-color;
    border: 1px solid $accent-color;
    padding: 6px 14px;
    border-radius: 26px;
    fill: $accent-color;
    color: $accent-color;
	  // fill: $clr-white;
   //  color: $clr-white;
    transition: all 300ms ease-in;
}

.nav-link-right:hover,
.nav-link-right:focus,
.nav-link-right:active {
    background: darken($accent-color, 10%);
	// border: 1px solid darken($accent-color, 10%);
  	fill: darken($clr-white, 10%);
    color: darken($clr-white, 10%);
    text-decoration: none
}

.nav-link-right svg {
    vertical-align: middle
}


// footer ========================================================
.footer {
    font-size: 0.875rem;
    background-color: #292b2c;
    color: rgba(255, 255, 255, 0.25);
    padding: 70px 0;
    letter-spacing: 1px
}

.footer a {
    color: rgba(255, 255, 255, 0.55)
}

.footer a:hover,
.footer a:focus {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none
}

.list-inline-item:not(:last-child) {
    margin-right: 2rem
}

.list-inline-item {
    display: inline-block
}

.footer p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.25) !important
}

.text-muted,
.descriptor {
    color: $clr-2
}


.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .85rem;
    border-radius: 40px;
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 275ms ease-in;
    transition: all 275ms ease-in
}

.btn:hover {
    -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2)
}

.btn-title{
  color: $clr-title;
  background: transparent;
  border: 1px solid $clr-title;
  &:hover{
    background: $clr-title;
     color: $clr-white;
     border: 1px solid $clr-title;
  }
}
.btn-accent{
  color: $accent-color;
  background: transparent;
  border: 1px solid $accent-color;
  &:hover{
    background: $accent-color;
     color: $clr-white;
     border: 1px solid $accent-color;
  }
}

.bg-primary {
    background-color: #6273DB !important
}

.pb-6 {
    padding-bottom: 4rem
}

.heading {
    max-width: 90%
}

.heading-2 {
    max-width: 80%;
    font-weight: 500
}

.spacer {
    width: 50px;
    height: 1px;
    background-color: #4C515D;
    margin: 25px 0;
    display: block
}

.descriptor {
    font-size: 1.1rem
}

.descriptor-2 {
    max-width: 90%;
    font-size: 1rem
}

.max-icon {
    width: 36px;
    margin-top: 26px
}

.capitalize,
.hero-text {
    text-transform: capitalize
}

.row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}
.py-custom {
    padding-top: 3rem;
    padding-bottom: 4.2rem
}

.title{
	font-size: 2.875rem;
	font-weight: 400;
	color: $clr-title;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
	.title{
		font-size: 1.8rem;
	}
	h3{
		font-size: 1.5rem;
	}
	.pb-under-md-0{
		padding-bottom: 0 !important;
	}
    .row-md-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }

 
}

.pointer{ cursor: pointer}

// Plan ======================================================================================

.plan-max-w{max-width: 20rem;}

.plan {
  position: relative;
  padding: $plan-padding*3 0;
  background: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: $plan-margin;
  border-radius: 1rem;
  // border: 1px solid $clr-f1;
  overflow: hidden;
  box-shadow: 0 12px 180px 0 rgba(2,2,2,.20);
  transition: all 275ms ease-in;
  &:hover{  box-shadow: 0 6px 260px 0 rgba(2,2,2,.30);;
}

.plan-label{
  font-size: $title-size*0.6;
  position: absolute;
  background: $clr-white;
  padding: 0.1rem 0.75rem 0.2rem 1.25rem;
  border-radius: 2rem 0 0 2rem;
  right:0;
  top: 1.5rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
  .paket{
  	max-width: calc(100% - 1rem);
  	border: none;
  	font-size: $title-size*1.2;
  	color: $accent-color;
  	font-weight: 700;
  	padding: $plan-padding;
  	cursor: pointer;
  	&:focus{
  		outline: 0;
  		 // box-shadow: 0 0 3px 2px rgba(0,0,0,0.1);
  	}

  }
  .title-container {
    background-color: transparent;
    .title {
      margin: auto;
      font-size: $title-size;
      text-transform: capitalize;
      color: $clr-white;
      h1{
        font-size: $title-size*2;
        margin:0;
      }
    }
    .sub-title{
      margin: auto;
      color: $clr-white;
      padding: 0 3rem;
      font-size: 75%;
    }
  }
      .price {
      position: relative;
      font-size: $price-size;
      font-weight: 500;
      margin-top: 0;
      display: inline-block;
      width: 80%;
      p {
        left: -0.7rem;
        position: relative;
        color: inherit;
        font-size: $price-size*0.875;
        display: inline-block;
        margin: 0;
        span.price-type{
          position: absolute;
          font-size: 55%;
          top: 0.3rem;
          right: -1.7rem;
        }
        // &:before{
        //   font-size: 1.5rem;
        //   content: "Rp";
        //   top: 10%;
        //   left: -2.2rem;
        //   position: absolute;
        // }
      }
      .price-discount{
        display: block;
        margin-bottom: -2rem;
        p{
          left: -0.3rem;
          font-size: $price-size*0.3;
          span.price-type{
            top: 0.2rem;
            right: -0.6rem;
          }
          &:before{
            content: ' ';
            width: 110%;
            height: 1px;
            background: #fff;
            position: absolute;
            top: 50%;
          }
        }
          
        
      }
      .price-time {
        font-size: $price-size*0.32;
        // position: absolute;
        display: block;
        // color: lighten($clr-grey, 43%);
        color: inherit;
        margin-top: -1rem;
      }
    }

  .infoContainer {
    padding: $plan-padding*2;
    // color: $text-color;
    color: $clr-white;
    box-sizing: border-box;
      .features {
        color: inherit;
        font-size: $feature-size*0.875;
        list-style: none;
        padding-left: 0;
        li {
          color: inherit; 
          padding: $plan-padding/2;
          line-height: 1;
        }

        li a{
          color: inherit !important;
        }

        li span.fa{
          font-size: 0.75em;
          margin-right: 0.5rem;
          opacity: 0.9;
        }

      }
    }
    .selectPlan, .selectPlan2, .selectPlan3{
      position: relative;
      z-index: 2;
      padding: $plan-padding*0.75 $plan-padding*0.5;
      border-radius: $plan-padding*2.5;
      cursor: pointer;
      transition: all 0.25s;
      margin: auto;
      box-sizing: border-box;
      max-width: 50%;
      display: block;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
      &:hover{
        -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
      }

    }
    $selectPlan : #fa6c94;
    .selectPlan {
      background-color: $clr-white;
      border: 1px solid $clr-white;
      color:  $selectPlan !important;
      font-weight: 500;
      opacity: 0.9;
      &:hover {
        border: 1px solid  $selectPlan;
        background-color:  $selectPlan;
        color: $clr-white !important;
        opacity:  1;
      }
  	}
      .selectPlan2 {
      background-color: transparent;
      border: 1px solid $clr-white;
      color: $clr-white !important;
      &:hover {
        background-color: $clr-white;
        color: #a9b5e6 !important;
      }
	}
    .selectPlan3 {
        background-color: transparent;
        border: 1px solid $clr-white;
        color: $clr-white !important;
        &:hover {

          background-color: $clr-white;
          color: #ff6c68 !important;
        }
    }
}

.scroll{
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0;
    .plan {
      width: 100%;
      margin: $plan-margin 0;
    }
  }
}

//============================================================= Radio button

.switch-field {
  text-align: center;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
} 

.switch-field label {
  display: inline-block;
  // width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label:first-of-type, .switch-field input:checked + label:last-of-type {
  color: $clr-white;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.switch-field input:checked + label:first-of-type{
  background-color: $accent-color;
}
.switch-field input:checked + label:last-of-type{
  background-color: $clr-title;
}

.switch-field label:first-of-type {
  border-radius: 20px 0 0 20px;
}

.switch-field label:last-of-type {
  border-radius: 0 20px 20px 0;
}

//pricing
.pricing .plan-max-w:nth-child(1) .plan{
  padding-right: 1rem;
  background-image: linear-gradient(to left bottom, #a18cd1, #a19ada, #a4a8e1, #a9b5e6, #b0c2eb);
  .plan-label{
    color: #a19ada;
  }
  &:before{
    position: absolute;
    bottom: 3rem;
    font-family: "FontAwesome";
    content:"\f206";
    color: #fff;
    opacity: 0.08;
    right: -3rem;
    font-size: 13rem;
    z-index: 0 !important;
  }
}
.pricing .plan-max-w:nth-child(2) .plan{
  background-image: linear-gradient(to bottom, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf);
  .plan-label{
    color: #e95fa6;
  }
  &:before{
    position: absolute;
    bottom: 5rem;
    font-family: "FontAwesome";
    content:"\f1b9";
    color: #fff;
    opacity: 0.08;
    right: 1rem;
    font-size: 11rem;
  }
}
.pricing .plan-max-w:nth-child(3) .plan{
  background-image: linear-gradient(to right bottom, #fc6076, #ff6c68, #ff7b5b, #ff8a4e, #ff9a44);
  .plan-label{
    color: #ff6c68;
  }
  &:before{
    position: absolute;
    bottom: 1rem;
    font-family: "FontAwesome";
    content:"\f072";
    color: #fff;
    opacity: 0.08;
    right: -1rem;
    font-size: 15rem;
  }
}
.pricing .plan-max-w{
  margin: 0 -1rem;
}
.pricing .plan-max-w:nth-child(2){
 z-index:1;
}

.table{
  font-size: 1rem;

  tbody tr:not(.no-hover){
    cursor: pointer;
  }

  
  tbody tr:first-child, tbody tr:last-child, {
    background: transparent !important;
  }
  tbody tr:first-child .fitur-name{
    border-radius: 1rem 1rem 0 0 ;
  }
  tbody tr:last-child .fitur-name{
    border-radius: 0 0 1rem 1rem ;
  }

  .fitur-name{
    padding: 1rem 0 1rem 2rem;
    background: #fa6c94;
    background-image: linear-gradient(to left, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf);
    border: 0;
    color: white;
  }
}

.table thead{
  font-size: 1.2rem;
}
table td, table th{
  transition: all 275ms ease-in;
  word-wrap: break-word;
  min-width: 300px;
  max-width: 300px;
}
.table td{
  border: 0;
  padding: 1rem 2rem;
  text-align: center;
  span.fa{
    font-size: 1.2rem;
    opacity: 0.8;
  }
  span.fa.fa-check{
    color: #45b649;
  }
  span.fa.fa-times{
    color: #ED213A;
  }
}
.table-hover tbody tr{
  transition: all 275ms ease-in;
  td:last-child{
    border-radius: 0 2rem 2rem 0;
  }
}

.table-hover tbody tr:hover, .table-hover tbody tr.active {
    background-color: rgba(0,0,0,.075);
}
.table-hover tbody tr:hover .fitur-name, .table-hover tbody tr.active .fitur-name{
    opacity: 0.75;
}
.table-hover tbody tr.no-hover:hover .fitur-name{
    opacity: 1;
}