body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.7;
  font-size: 1.25rem;
  color: #556068;
  font-family: "Karla", "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: "Vidaloka", "Noto Serif", serif;
  font-weight: 400;
  line-height: 1.5;
  color: #434264; }

h3 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.25rem; }

.title {
  font-size: 2.875rem;
  font-weight: 400;
  color: #DE3163;
  margin-bottom: 2rem; }

.clr-title {
  color: #DE3163 !important; }

.clr-accent {
  color: #9733ee !important; }

.clr-heading {
  color: #434264 !important; }

p {
  color: #556068; }

a {
  -webkit-transition: color 0.5s cubic-bezier(1, 0, 0, 1);
  transition: color 0.5s cubic-bezier(1, 0, 0, 1); }

a.clean-link {
  color: inherit; }
  a.clean-link:hover {
    text-decoration: none; }

b,
strong {
  font-weight: bolder; }

.lh-normal {
  line-height: 1.3 !important; }

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.5rem 2rem;
  z-index: 99; }

.navbar-brand {
  display: inline-block;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-right: 2rem;
  font-size: 1rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand img {
    height: 2rem; }

.navbar-toggler {
  vertical-align: middle; }

.nav-link-right {
  font-size: 0.7em;
  border: 1px solid #9733ee;
  padding: 6px 14px;
  border-radius: 26px;
  fill: #9733ee;
  color: #9733ee;
  transition: all 300ms ease-in; }

.nav-link-right:hover,
.nav-link-right:focus,
.nav-link-right:active {
  background: #7e12dc;
  fill: #e6e6e6;
  color: #e6e6e6;
  text-decoration: none; }

.nav-link-right svg {
  vertical-align: middle; }

.footer {
  font-size: 0.875rem;
  background-color: #292b2c;
  color: rgba(255, 255, 255, 0.25);
  padding: 70px 0;
  letter-spacing: 1px; }

.footer a {
  color: rgba(255, 255, 255, 0.55); }

.footer a:hover,
.footer a:focus {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none; }

.list-inline-item:not(:last-child) {
  margin-right: 2rem; }

.list-inline-item {
  display: inline-block; }

.footer p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.25) !important; }

.text-muted,
.descriptor {
  color: #556068; }

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .85rem;
  border-radius: 40px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 275ms ease-in;
  transition: all 275ms ease-in; }

.btn:hover {
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); }

.btn-title {
  color: #DE3163;
  background: transparent;
  border: 1px solid #DE3163; }
  .btn-title:hover {
    background: #DE3163;
    color: #fff;
    border: 1px solid #DE3163; }

.btn-accent {
  color: #9733ee;
  background: transparent;
  border: 1px solid #9733ee; }
  .btn-accent:hover {
    background: #9733ee;
    color: #fff;
    border: 1px solid #9733ee; }

.bg-primary {
  background-color: #6273DB !important; }

.pb-6 {
  padding-bottom: 4rem; }

.heading {
  max-width: 90%; }

.heading-2 {
  max-width: 80%;
  font-weight: 500; }

.spacer {
  width: 50px;
  height: 1px;
  background-color: #4C515D;
  margin: 25px 0;
  display: block; }

.descriptor {
  font-size: 1.1rem; }

.descriptor-2 {
  max-width: 90%;
  font-size: 1rem; }

.max-icon {
  width: 36px;
  margin-top: 26px; }

.capitalize,
.hero-text {
  text-transform: capitalize; }

.row-md-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.py-custom {
  padding-top: 3rem;
  padding-bottom: 4.2rem; }

.title {
  font-size: 2.875rem;
  font-weight: 400;
  color: #DE3163;
  margin-bottom: 2rem; }

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.5rem; }
  .pb-under-md-0 {
    padding-bottom: 0 !important; }
  .row-md-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }

.pointer {
  cursor: pointer; }

.plan-max-w {
  max-width: 20rem; }

.plan {
  position: relative;
  padding: 3rem 0;
  background: white;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 12px 180px 0 rgba(2, 2, 2, 0.2);
  transition: all 275ms ease-in; }
  .plan:hover {
    box-shadow: 0 6px 260px 0 rgba(2, 2, 2, 0.3); }
  .plan .plan-label {
    font-size: 0.87rem;
    position: absolute;
    background: #fff;
    padding: 0.1rem 0.75rem 0.2rem 1.25rem;
    border-radius: 2rem 0 0 2rem;
    right: 0;
    top: 1.5rem;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
  .plan .paket {
    max-width: calc(100% - 1rem);
    border: none;
    font-size: 1.74rem;
    color: #9733ee;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer; }
    .plan .paket:focus {
      outline: 0; }
  .plan .title-container {
    background-color: transparent; }
    .plan .title-container .title {
      margin: auto;
      font-size: 1.45rem;
      text-transform: capitalize;
      color: #fff; }
      .plan .title-container .title h1 {
        font-size: 2.9rem;
        margin: 0; }
    .plan .title-container .sub-title {
      margin: auto;
      color: #fff;
      padding: 0 3rem;
      font-size: 75%; }
  .plan .price {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
    display: inline-block;
    width: 80%; }
    .plan .price p {
      left: -0.7rem;
      position: relative;
      color: inherit;
      font-size: 2.625rem;
      display: inline-block;
      margin: 0; }
      .plan .price p span.price-type {
        position: absolute;
        font-size: 55%;
        top: 0.3rem;
        right: -1.7rem; }
    .plan .price .price-discount {
      display: block;
      margin-bottom: -2rem; }
      .plan .price .price-discount p {
        left: -0.3rem;
        font-size: 0.9rem; }
        .plan .price .price-discount p span.price-type {
          top: 0.2rem;
          right: -0.6rem; }
        .plan .price .price-discount p:before {
          content: ' ';
          width: 110%;
          height: 1px;
          background: #fff;
          position: absolute;
          top: 50%; }
    .plan .price .price-time {
      font-size: 0.96rem;
      display: block;
      color: inherit;
      margin-top: -1rem; }
  .plan .infoContainer {
    padding: 2rem;
    color: #fff;
    box-sizing: border-box; }
    .plan .infoContainer .features {
      color: inherit;
      font-size: 0.875rem;
      list-style: none;
      padding-left: 0; }
      .plan .infoContainer .features li {
        color: inherit;
        padding: 0.5rem;
        line-height: 1; }
      .plan .infoContainer .features li a {
        color: inherit !important; }
      .plan .infoContainer .features li span.fa {
        font-size: 0.75em;
        margin-right: 0.5rem;
        opacity: 0.9; }
  .plan .selectPlan, .plan .selectPlan2, .plan .selectPlan3 {
    position: relative;
    z-index: 2;
    padding: 0.75rem 0.5rem;
    border-radius: 2.5rem;
    cursor: pointer;
    transition: all 0.25s;
    margin: auto;
    box-sizing: border-box;
    max-width: 50%;
    display: block;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); }
    .plan .selectPlan:hover, .plan .selectPlan2:hover, .plan .selectPlan3:hover {
      -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); }
  .plan .selectPlan {
    background-color: #fff;
    border: 1px solid #fff;
    color: #fa6c94 !important;
    font-weight: 500;
    opacity: 0.9; }
    .plan .selectPlan:hover {
      border: 1px solid #fa6c94;
      background-color: #fa6c94;
      color: #fff !important;
      opacity: 1; }
  .plan .selectPlan2 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff !important; }
    .plan .selectPlan2:hover {
      background-color: #fff;
      color: #a9b5e6 !important; }
  .plan .selectPlan3 {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff !important; }
    .plan .selectPlan3:hover {
      background-color: #fff;
      color: #ff6c68 !important; }

.scroll {
  position: relative;
  z-index: 1; }

@media screen and (max-width: 25em) {
  .planContainer {
    margin: 0; }
    .planContainer .plan {
      width: 100%;
      margin: 1rem 0; } }

.switch-field {
  text-align: center;
  overflow: hidden; }

.switch-title {
  margin-bottom: 6px; }

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden; }

.switch-field label {
  float: left; }

.switch-field label {
  display: inline-block;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.switch-field label:hover {
  cursor: pointer; }

.switch-field input:checked + label:first-of-type, .switch-field input:checked + label:last-of-type {
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none; }

.switch-field input:checked + label:first-of-type {
  background-color: #9733ee; }

.switch-field input:checked + label:last-of-type {
  background-color: #DE3163; }

.switch-field label:first-of-type {
  border-radius: 20px 0 0 20px; }

.switch-field label:last-of-type {
  border-radius: 0 20px 20px 0; }

.pricing .plan-max-w:nth-child(1) .plan {
  padding-right: 1rem;
  background-image: linear-gradient(to left bottom, #a18cd1, #a19ada, #a4a8e1, #a9b5e6, #b0c2eb); }
  .pricing .plan-max-w:nth-child(1) .plan .plan-label {
    color: #a19ada; }
  .pricing .plan-max-w:nth-child(1) .plan:before {
    position: absolute;
    bottom: 3rem;
    font-family: "FontAwesome";
    content: "\f206";
    color: #fff;
    opacity: 0.08;
    right: -3rem;
    font-size: 13rem;
    z-index: 0 !important; }

.pricing .plan-max-w:nth-child(2) .plan {
  background-image: linear-gradient(to bottom, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf); }
  .pricing .plan-max-w:nth-child(2) .plan .plan-label {
    color: #e95fa6; }
  .pricing .plan-max-w:nth-child(2) .plan:before {
    position: absolute;
    bottom: 5rem;
    font-family: "FontAwesome";
    content: "\f1b9";
    color: #fff;
    opacity: 0.08;
    right: 1rem;
    font-size: 11rem; }

.pricing .plan-max-w:nth-child(3) .plan {
  background-image: linear-gradient(to right bottom, #fc6076, #ff6c68, #ff7b5b, #ff8a4e, #ff9a44); }
  .pricing .plan-max-w:nth-child(3) .plan .plan-label {
    color: #ff6c68; }
  .pricing .plan-max-w:nth-child(3) .plan:before {
    position: absolute;
    bottom: 1rem;
    font-family: "FontAwesome";
    content: "\f072";
    color: #fff;
    opacity: 0.08;
    right: -1rem;
    font-size: 15rem; }

.pricing .plan-max-w {
  margin: 0 -1rem; }

.pricing .plan-max-w:nth-child(2) {
  z-index: 1; }

.table {
  font-size: 1rem; }
  .table tbody tr:not(.no-hover) {
    cursor: pointer; }
  .table tbody tr:first-child, .table tbody tr:last-child {
    background: transparent !important; }
  .table tbody tr:first-child .fitur-name {
    border-radius: 1rem 1rem 0 0; }
  .table tbody tr:last-child .fitur-name {
    border-radius: 0 0 1rem 1rem; }
  .table .fitur-name {
    padding: 1rem 0 1rem 2rem;
    background: #fa6c94;
    background-image: linear-gradient(to left, #ff758c, #fa6c94, #f2659c, #e95fa6, #dd5baf);
    border: 0;
    color: white; }

.table thead {
  font-size: 1.2rem; }

table td, table th {
  transition: all 275ms ease-in;
  word-wrap: break-word;
  min-width: 300px;
  max-width: 300px; }

.table td {
  border: 0;
  padding: 1rem 2rem;
  text-align: center; }
  .table td span.fa {
    font-size: 1.2rem;
    opacity: 0.8; }
  .table td span.fa.fa-check {
    color: #45b649; }
  .table td span.fa.fa-times {
    color: #ED213A; }

.table-hover tbody tr {
  transition: all 275ms ease-in; }
  .table-hover tbody tr td:last-child {
    border-radius: 0 2rem 2rem 0; }

.table-hover tbody tr:hover, .table-hover tbody tr.active {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover tbody tr:hover .fitur-name, .table-hover tbody tr.active .fitur-name {
  opacity: 0.75; }

.table-hover tbody tr.no-hover:hover .fitur-name {
  opacity: 1; }
